#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }

  body {
	margin: 0;
	font-size: 20px;
	font-family: proxima-nova, 'Helvetica Neue', 'Helvetica Arial',
	  Arial, sans-serif, 'Segoe UI', 'Segoe UI Symbol';
  }

  :root {
	--rank-green: green;
	--rank-light-green: #cfc;
	--rank-green-border: 1px solid green;
	--rank-orange: orange;
	--rank-light-orange: #ffc;
	--rank-orange-border: 1px solid orange;
	--rank-red: red;
	--rank-light-red: #fcc;
	--rank-red-border: 1px solid red;
	--colour-font: #000;
	--colour-background: #F2F0EE;
	--colour-container-background: #fff;
	--colour-black: #000;
	--border-thick: .5rem solid  var(--colour-black);
	--border-thick-halved: .25rem solid  var(--colour-black);
	--table-left-edge: #f6f6f6;
  }
