.subtitle {
    font-size: var(--font-size-medium);
    margin-top: 3px;
    font-weight: var(--font-weight-semibold); /*500*/
}

div.summaryContainer {
    display: inline-block;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    max-width: 125rem; /*2000px;*/
    background-color: var(--colour-white);
    box-shadow: var(--main-section-boxshadow);
    border-radius: var(--main-section-border-radius);
    padding: 1rem;
    margin: 0.5rem;
    font-family: var(--primary-font-family);
  }