.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
    z-index: 1;
    font-family: var(--primary-font-family);
}

.dropdown:empty {
    border: none;
}

.dropdownRow {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    font-family: var(--primary-font-family);
}

.dropdownRow:hover {
    background-color: antiquewhite;
}