.modalBg {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.title {
  display: inline-block;
  text-align: center;
}

.closeHelpScreen {
  display: flex;
  justify-content: flex-end;
}

.closeBtn {
  cursor: pointer;
}

.legend{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
