/* -----------------START: SEARCH BAR CONTAINER CSS ------------------- */
div.searchBarWidth {
  width:70%;
  min-width: 25rem;
}

div.searchBar {
    max-width: 27rem;
    border: 1px solid var(--colour-black);
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--primary-font-family);
    padding-right: 0.75rem;
  }

  div.searchBar:focus-within {
    border-color: var(--colour-blue);
    border-width: 2px;
  }

div.searchBar input[type="text"]:focus {
  outline: none;
}

  div.searchBar input {
    padding: 0.65rem;
    background: var(--colour-container-background);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-normal); /*16px*/
    line-height: 19px;
  }
  /* -----------------END: SEARCH BAR CONTAINER CSS ------------------- */
