.tableCellStyle{
	font-weight: normal;
    font-family: 'Inter', sans-serif;
    font-size: large;
	background-color: var(--colour-container-background);
	color: var(--colour-font)
}

.latestVerStyle{
	font-weight: bolder;
    font-family: 'Inter', sans-serif;
    font-size: large;
	background-color: var(--colour-container-background);
	color: var(--colour-font)
}