.tableCellStyle{
    font-family: var(--secondary-font-family);
    font-size: var(--font-size-large);
	background-color: var(--colour-container-background);
	color: var(--colour-font)
}

.latestVerStyle{
	font-weight: var(--font-weight-bold);
}

.inverseSubRow {
	background-color: var(--colour-background);
	color: var(--colour-font);
}

.inverseSubRowIcon {
	max-width: 100%;
	max-height: 100%;
}
