.tableCellStyle{
    font-family: var(--secondary-font-family);
    font-size: 1.1rem;
	background-color: #f5f5f5;
	color: var(--colour-font);
	border-color: #7a7a7a;
}

.latestVerStyle{
	font-weight: var(--font-weight-bold);
}

.inverseSubRow {
	background-color: var(--colour-lightGrey);
	color: var(--colour-font);
}

.inverseSubRowIcon {
	max-width: 100%;
	max-height: 100%;
}
