div.summaryStyle {
  align-items: flex-start;
  font-family: var(--primary-font-family);
  min-width: 15rem;
}

.subtitle {
  font-size: var(--font-size-large);
  margin-top: 3px;
  font-weight: var(--font-weight-semibold); /*500*/
}

div.summaryOverall {
  display: block;
  max-height: 100%;
  /* height: 410px; */
  background-color: var(--colour-green);
  /* box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem; */
  text-align: center;
}

div.summaryOverallGreen {
  background-color: var(--colour-green);
}

div.summaryOverallRed {
  background-color: var(--colour-red);
}
div.summaryOverallGrey {
  background-color: gray;
}

div.smallSharedCompProps {
  height: 75%;
  min-width: 100%;
  border-radius: 20px;
  padding: 1.5rem 2rem 2rem 2rem;
  box-sizing: border-box;
}

div.summaryComponent {
  display: block;
  /* max-height: 100%; */
  min-height: 380px;
  background-color: var(--colour-lightGrey);
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

div.summaryOverall h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

div.summaryStyle div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

div.margins {
  margin-top: 0.5rem !important;
}

h3.summaryStylePercent {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

div.summaryComponent2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--colour-white);
  border-radius: var(--main-section-border-radius);
  box-sizing: border-box;
  font-size: 10px;
  padding: 1rem 1rem 1rem 1rem;
}

div.summaryComponent div.summaryCompHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5rem;
  margin-bottom: 0.813rem;
  width: 100%;
}

div.sharedCompProps {
  width: 100%;
  min-width: 18rem;
  border-radius: var(--main-section-border-radius); /*20px*/
  padding: 1rem 1.4rem 1.4rem;
  /* padding: 1.5rem 2rem 2rem 2rem; */
  box-sizing: border-box;
}

h3.percentStyle {
  color: white;
  font-size: 6.25rem; /*100px;*/
  font-weight: var(--font-weight-normal);
  /* font-weight: var(--font-weight-semibold); */
  margin-block-start: 0em;
  margin-block-end: 0em;
  align-self: center;
}

h3.overallTitleStyle {
  color: white;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

h3.overallCentredTitleStyle {
  color: white;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

div.summaryHeader {
  width: 100%;
}

div.loadingWheelBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--colour-lightGrey);
}

div.loadingWheelBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--colour-lightGrey);
}

.helpBtn {
  cursor: pointer;
}

.tooltipStyle {
  font-size: var(--font-size-normal);
  font-family: var(--primary-font-family);
}

div.refreshWord {
  font-family: var(--primary-font-family);
  font-size: var(--font-size-large);
}

div.btnsContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  width: 17rem;
}

div.btnsContainer button {
  font-family: var(--primary-font-family);
  font-size: var(--font-size-large);
  background-color: var(--colour-container-background);
  border: none;
  padding: 0.8rem;
  border-radius: var(--main-section-border-radius);
  justify-content: center;
  align-items: center;
}

div.btnsContainer button span {
  margin-left: 0.5rem;
}

div.btnsContainer button:hover {
  cursor: pointer;
  background-color: lightgray;
}
