/* -----------------START: SHARED SECTION CONTAINERS CSS ------------------- */
div.sectionContainer {
  display: inline-block;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: max-content;
  width: 100%;
  max-width: 125rem; /*2000px;*/
  background-color: var(--colour-white);
  box-shadow: var(--main-section-boxshadow);
  border-radius: var(--main-section-border-radius);
  padding: 2rem 2.5rem 2rem 2.5rem;
  margin: 1.1rem;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}

h3.h3ContainerStyle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--colour-font);
  font-family: var(--primary-font-family);
}
/* -----------------END: SHARED SECTION CONTAINERS CSS ------------------- */
