.fabStyle {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 10;
    background-color: #3B5DD9;
    color: white;
}

.iconStyle {
    width: 40px;
    height: 40px;
}

.tooltipStyle {
    font-family: var(--primary-font-family);
    font-size: var(--font-size-normal);
}

.helpTitleStyle {
    font-size: var(--font-size-large);
    font-family: var(--primary-font-family);
    font-weight: bold;
    align-self: center;
}

.questionHeaderStyle {
    font-size: var(--font-size-normal);
    font-family: var(--primary-font-family);
    font-style: oblique;
    font-weight: bold;
    padding-top: 1rem;
}

.infoContentStyle {
    font-size: var(--font-size-normal);
    font-family: var(--primary-font-family);
    padding-bottom: 1rem;
}

.fieldContentStyle {
    font-size: var(--font-size-normal);
    font-family: var(--primary-font-family);
    padding-bottom: 1rem;
    font-weight: bold;
}