.tableContainer {
	box-shadow: none;
	background-color: var(--colour-background);
	color: var(--colour-font);
}

.col1 {
	width: 5%;
	background-color: var(--table-left-edge);
}

.col2 {
	width: 8%;
	background-color: var(--colour-background);
}

.col3 {
	width: 38%;
	background-color: var(--colour-background);
}

.col3 {
	width: 20%;
	background-color: var(--colour-background);
}

.col4 {
	width: 22%;
	background-color: var(--colour-background);
}

.col5 {
	width: 15%;
	background-color: var(--colour-background);
}

.tableStyle {
	box-shadow: none;
	background-color: var(--colour-background);
	color: var(--colour-font);
}

.tableComponent {
	box-shadow: none;
	border-bottom: none;
}

.tableFixedWidth {
	display: table;
	table-layout: fixed;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.col1 {
		width: 5%;
		background-color: var(--table-left-edge);
	}

	.col2 {
		width: 8%;
		background-color: var(--colour-background);
	}

	.col3 {
		width: 58%;
		background-color: var(--colour-background);
	}

	.col4 {
		width: 22%;
		background-color: var(--colour-background);
	}

	.col5 {
		width: 0%;
		background-color: var(--colour-background);
	}
}
