.iconStyle {
    width: 40px;
    height: 40px;
}

div.componentStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--colour-lightGrey);
    border-radius: var(--main-section-border-radius);
    box-sizing: border-box;
    font-size: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
