.tableCellStyleIcon {
  width: 2.8rem;
  padding: 0.625rem 0.625rem 0.625rem 0.25rem;  /* padding: 10px 10px 10px 4px; */
}

.tableCellStyleCount {
  padding: 1rem 10px 1rem 10px;
}

.tableCellStyleCount{
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  margin-top: 0;
  margin-bottom: 0;
}

.statusLabel {
  padding: 1rem 2px 1rem 1rem;
  line-height: 1.125rem;
  letter-spacing: 1%;
  font-weight: var(--font-weight-semibold);
  font-family: var(--secondary-font-family);
  font-size: var(--font-size-normal);
}

p.countText{
  font-size: 1.25rem;
}

div.pieChartView {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--colour-white);
  border-radius: var(--main-section-border-radius);
  box-sizing: border-box;
  font-size: 10px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

div.repoOverviewTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--colour-white);
  border-radius: var(--main-section-border-radius);
  box-sizing: border-box;
  font-size: 10px;
  padding: 1rem 1rem 1rem 1rem;
}

@media only screen and (min-width: 1920px){
  p.countText {
    font-size: var(--font-size-xlarge);
  }
}
