.tableCellStyle1 {
	display: inline-flex;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: medium;
	font-weight: bold;
	width: calc(100% - 2rem);
	max-width: calc(100% - 2rem);
}

.tableCellStyle2 {
	display: inline-flex;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: medium;
	font-weight: bold;
	max-width: 1rem;
	padding-left: 1rem;
}

.textContainer {
	width: 100%;
	display: inline-block;
	/* /width: 175px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.countContainer {
	display: block;
}

p.reposStyle {
	font-size: medium;
}

.totalsCellStyle {
	padding: 4px;
	border-color: black;
	line-height: 0.5rem + var(--font-size-large);
	font-size: var(--font-size-large);
	font-weight: bold;
	font-family: var(--primary-font-family);
}
