.everGreen {
	font-family: var(--primary-font-family);
	font-weight: bold;
	margin-bottom: 1rem;
}

.signinPage {
	height: 100vh;
}

.signinWithGithubButton {
	background-color: black;
	width: 100%;
}

.signinWithGithubButton:hover {
	background-color: #2e2e2e;
}

@media (min-width: 900px) {
	.signinPage {
		height: 100vh;
		background-color: var(--colour-lightGrey);
	}
}
